.form-registration form{
	width: 100%;
}

.clickButton:click {
  background: none;
}

button.clickButton:active {
   background: none;
}
#boton1:disabled {
	background-color: !important;
	
}

#boton1:disabled,
#boton1[disabled]{
background-color: #eee !important;
}

#boton1:hover{
	background-color: red;
}